/analise_ibape.db
/banco_pericial.db
/Banco_Pericial_Multimodal.xlsx
/cerebro_diagnostico.log
/chroma_db
/doc_entrada
/doc_erros
/doc_processados
/exportacoes
/img_normas_entrada
/img_normas_processadas
/img_patologias_entrada
/img_patologias_erros
/img_patologias_processadas
/laudos_imagem.db
/logs
/pdf_entrada
/pdf_erros
/pdf_processados
/~$Banco_Pericial_Multimodal.xlsx